<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="shortcut icon" href="images/ambrozaletter.png"/>
    <title>Ambroza Lifecare</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link href="css/bootstrap-min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript"
            src="https://maps.google.com/maps/api/js?key=AIzaSyAg8OlJyr_QnNW8AyHxmRqoJZ3q2sUQiQ8&sensor=false"></script>
    <link href="css/ambcss.css" rel="stylesheet" />
    <link href="css/distributorscss.css" rel="stylesheet" />
    <script src="js/ambjs.js"></script>
    <script src="js/distributorsjs.js"></script>
</head>
<body>
	<div class="container-fluid" style="background-color:#3a3938;">
        <div class="row" style="padding-top: 7px;">
            <div class="col-md-1"></div>
            <div class="col-md-11">
                <div class="row">
					<div class="col-md-1" style="color:white"><!--<i style="font-size:30px" class="fa">&#xf10b;&nbsp;</i>--><font style="font-size: 22px;"></font> </div>
                    <div class="col-md-4" style="color:white"><img src="images/head_phone1.png" style="width: 16%;" /><font style="font-size: 22px;"> +022-65176080</font></div>                  
                    <div class="col-md-4" style="color:white"><img src="images/head_mail.png" style="width: 15%;" /><font style="font-size: 22px;"> info@ambrozalifecare.com</font></div>
                    <div class="col-md-3" style="padding-top: 8px;">
                        <a target="_blank" href="https://www.facebook.com/Ambroza-Lifecare-LLP-188268765039161/"><img src="images/facebook.png" style="width: 13%;" /></a>
                        <a target="_blank" href="https://twitter.com/AmbrozaLifecare"><img src="images/twitter.png" style="width: 13%;" /></a>
                        <a target="_blank" href="https://www.linkedin.com/in/ambroza-lifecare-llp-756789146"><img src="images/linkedin.png" style="width: 13%;" /></a>
                        <a target="_blank" href="https://plus.google.com/104051374728368728013"><img src="images/google-plus.png" style="width: 13%;" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
      <div class="affix" id="nav" data-spy="affix" data-offset-top="40">
        <nav class="navbar navbar-inverse" style="border-radius:0px ; background-color:white;border:hidden">

            <div class="row" style="padding-top: 1%;padding-left: 2%;">
                <div class="col-md-1">
                    <a href="."><img src="images/transparent.png" style="width: 220px;" /></a>
                </div>
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" style="background-color: #fff;margin-right: 7%;" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar" style="background-color: black;"></span>
                        <span class="icon-bar" style="background-color: black;"></span>
                        <span class="icon-bar" style="background-color: black;"></span>
                    </button>
                </div>
                <div class="col-md-11">
                    <div class="collapse navbar-collapse" style="font-size: 16px" id="myNavbar">
                        <ul class=" nav navbar-nav" style="float:right;padding-top: 2%;">
                            <li id="navhome"><a href="index.html"><font style ="font-size: 17px;">Home</font></a></li>
                            <li id="navabout"><a href="aboutus.html"><font  style ="font-size: 17px;">About Us</font></a></li>
                            <li id="navvismis"><a href="vision.html"><font  style ="font-size: 17px;">Visions & Missions</font></a></li>
                            <li id="navteam"><a href="team.html"><font  style ="font-size: 17px;">Directors</font></a></li>
                            <li id="navprod"><a href="products.html"><font  style ="font-size: 17px;">Products</font></a></li>
                            <li class="active" id="navdist"><a href="distributors.html"><font  style ="font-size: 17px;">Our Distributors</font></a></li>
                            <li id="navevents"><a href="events.html"><font  style ="font-size: 17px;">Events</font></a></li>
                            <li id="navcarr"><a href="careers.html"><font  style ="font-size: 17px;">Careers</font></a></li>
                            <li id="navcont"><a href="contactus.html"><font  style ="font-size: 17px;">Contact Us</font></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <div class="animate-bottom">
<center>
	<h2 ><img src="images/medical-kit.png" style="width: 50px" />
		<font> Our Distributors</font>
	</h2>
</center>
<br>
<div id="loader">
	<!--Super Stockist-->
	<center><div  role="tabpanel" style="width:70%">
			<div class="tab-content" ng-switch-when="0">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h4 class="panel-title">
                                 <div data-toggle="collapse" data-parent="#accordion">
									 <font> NAVDEEP AGENCIES (SUPER STOCKIST)</font></div>
                                 </h4>
                            </div>
                            <div  class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body" style="height: 250px;text-align: left;">
			                       <div ><img src="images/balloon.png" style="width: 3%;" /><font><b> Address:</b> 99/101 KESHAVJI NAIK RD, 2/3 C.V.O.D JAIN MAHAJAN BLD. NEW CHINCH BUNDER, MUMBAI - 400009.</font></div>
			                       <div ><br></div>
			                       <div ng-if="distributor[$index+1].distemail"><img src="images/mail.png" style="width: 3%;padding-bottom: 4px;" /><font><b> Email 1:</b> navdeep_agencies@yahoo.com</font></div><br>
			                       <div ng-if="distributor[$index+1].distemail"><img src="images/mail.png" style="width: 3%;padding-bottom: 4px;" /><font><b> Email 2:</b> orders@navdeephealthcare.com</font></div>
			                       <div ng-if="distributor[$index+1].distemail"><br></div>
			                       <div ><img src="images/phone.png" style="width: 3%;" /><font><b> Phone No.:</b> 43119311 / 43119326</font></div>
			                       <div ><br></div>
			                       <!--<div ng-if="distributor[$index+1].distmobile"><img src="images/mobile.png" style="width: 3%;" /><font><b> Mobile No.:</b> {{distributor[$index+1].distmobile}}</font></div>
			                       <div ng-if="distributor[$index+1].distmobile"><br></div>-->
			                       <div ><img src="images/fax.png" style="width: 3%;" /><font><b> Fax:</b> 43119312 / 43119325</font></div>
			                </div>                       
						</div>      
					</div>
				</div>  
			</div>
		</div>
	</center>
		<!--Super Stockist-->
<div class="container" ng-app="myApp"  id="myDiv" ng-controller="regionCtrl">
	<div class="row animate-bottom"  ng-repeat="y in distributor" ng-switch on="$index % 2">
		<div class="col-md-6" ng-if="distributor[$index].distid">
			<div class="tab-content" ng-switch-when="0">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h4 class="panel-title">
                                 <div data-toggle="collapse" data-parent="#accordion">
									 <font> {{distributor[$index].distname}}</font></div>
                                 </h4>
                            </div>
                            <div id="{{'collapse'+$index}}" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body" style="height: 100%;">
			                       <div ng-if="distributor[$index].distadd"><img src="images/balloon.png" style="width: 3%;" /><font><b> Address:</b> {{distributor[$index].distadd}}</font><br></div>
			                       <div ng-if="distributor[$index].distadd"><br></div>
			                       <div ng-if="distributor[$index].distemail"><img src="images/mail.png" style="width: 3%;padding-bottom: 4px;" /><font><b> Email:</b> {{distributor[$index].distemail}}</font><br></div>
			                       <div ng-if="distributor[$index].distemail"><br></div>
			                       <div ng-if="distributor[$index].distphone"><img src="images/phone.png" style="width: 3%;" /><font><b> Phone No.:</b> {{distributor[$index].distphone}}</font><br></div>
								   <div ng-if="distributor[$index].distphone"><br></div>
			                       <div ng-if="distributor[$index].distmobile"><img src="images/mobile.png" style="width: 3%;" /><font><b> Mobile No.:</b> {{distributor[$index].distmobile}}</font><br></div>
			                       <div ng-if="distributor[$index].distmobile"><br></div>
			                       <div ng-if="distributor[$index].distfax"><img src="images/fax.png" style="width: 3%;" /><font><b> Fax:</b> {{distributor[$index].distfax}}</font></div>
			                </div>                       
						</div>      
					</div>
				</div>
		</div>
        <div class="col-md-6" role="tabpanel" ng-if="distributor[$index+1].distid">
			<div class="tab-content" ng-switch-when="0">
                    <div class="panel panel-default">
                            <div class="panel-heading">
                                 <h4 class="panel-title">
                                 <div data-toggle="collapse" data-parent="#accordion">
									 <font> {{distributor[$index+1].distname}}</font></div>
                                 </h4>
                            </div>
                            <div id="{{'collapse'+$index+1}}" class="panel-collapse collapse in" aria-expanded="true">
                            <div class="panel-body" style="height: 100%;">
			                       <div ng-if="distributor[$index+1].distadd"><img src="images/balloon.png" style="width: 3%;" /><font><b> Address:</b> {{distributor[$index+1].distadd}}</font></div>
			                       <div ng-if="distributor[$index+1].distadd"><br></div>
			                       <div ng-if="distributor[$index+1].distemail"><img src="images/mail.png" style="width: 3%;padding-bottom: 4px;" /><font><b> Email:</b> {{distributor[$index+1].distemail}}</font></div>
			                       <div ng-if="distributor[$index+1].distemail"><br></div>
			                       <div ng-if="distributor[$index+1].distphone"><img src="images/phone.png" style="width: 3%;" /><font><b> Phone No.:</b> {{distributor[$index+1].distphone}}</font></div>
			                       <div ng-if="distributor[$index+1].distphone"><br></div>
			                       <div ng-if="distributor[$index+1].distmobile"><img src="images/mobile.png" style="width: 3%;" /><font><b> Mobile No.:</b> {{distributor[$index+1].distmobile}}</font></div>
			                       <div ng-if="distributor[$index+1].distmobile"><br></div>
			                       <div ng-if="distributor[$index+1].distfax"><img src="images/fax.png" style="width: 3%;" /><font><b> Fax:</b> {{distributor[$index+1].distfax}}</font></div>
			                </div>                       
						</div>      
					</div>
				</div>  
			</div>
		</div>
	</div>	<!--row finish -->
</div>
</div>
</div>
<br>
<br>
   <!--Start of footer-->
    <footer class="footerbottom">
        <div class="row text-center" style="background-color:#66AB8C;background: -webkit-linear-gradient(bottom, #3a3938,black );margin:0;">
            <div class="col-md-4">
                <a href="#"><img src="images/transparent.png" style="width: 35%;padding-top: 1%;" /></a>
            </div>
            <div class="col-md-4" style="padding-top: 1%;color:white">
                <h5>Copyright © 2017 Ambroza Life care LLP. All Rights Reserved.</h5>
            </div>
            <div class="col-md-4" style="padding-top:7px;">
                        <a target="_blank" href="https://www.facebook.com/Ambroza-Lifecare-LLP-188268765039161/"><img src="images/facebook.png" style="width: 9%;" /></a>
                        <a target="_blank" href="https://twitter.com/AmbrozaLifecare"><img src="images/twitter.png" style="width: 9%;" /></a>
                        <a target="_blank" href="https://www.linkedin.com/in/ambroza-lifecare-llp-756789146"><img src="images/linkedin.png" style="width: 9%;" /></a>
                        <a target="_blank" href="https://plus.google.com/104051374728368728013"><img src="images/google-plus.png" style="width: 9%;" /></a>
            </div>
        </div>
    </footer>
    <!--End of footer-->
</div>
</body>
</html>
